@import "tailwindcss";

/* Reset de márgenes y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  color: white;
  scroll-behavior: smooth;
  cursor: none;
}
/* Tipografía básica */
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit; /* Para que no salgan azules por defecto */
}

/* Imágenes para que no rompan el layout */
img {
  max-width: 100%;
  display: block;
}

/* Listas sin puntitos (opcional, muy útil para menús) */
ul {
  list-style: none;
}

button {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
}
