---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div
  id="container"
  class="w-screen h-screen flex justify-center items-center bg-amber-600"
>
  <h1>Hola</h1>
</div>
