---
import "../styles/global.css";
import TechFrame from "../components/TechFrame.astro";
import Pointer from "../assets/pointer.astro";
import Loading from "../components/Loading.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/exospace.svg" />
    <link rel="icon" href="/exospace.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Exospace</title>
  </head>
  <body class="w-full h-screen">
    <Loading />
    <div id="cursor" class="custom-cursor">
      <Pointer />
    </div>
    <TechFrame />
    <main class="relative z-10 w-full h-full">
      <slot />
    </main>
    <script>
      const cursor = document.getElementById("cursor");

      if (cursor) {
        let mouseX = 0;
        let mouseY = 0;

        const updateCursor = () => {
          cursor.style.transform = `translate3d(${mouseX - 25}px, ${mouseY - 25}px, 0)`;
          requestAnimationFrame(updateCursor);
        };

        window.addEventListener("mousemove", (e) => {
          mouseX = e.clientX;
          mouseY = e.clientY;

          if (cursor.style.opacity !== "1") {
            cursor.style.opacity = "1";
          }
        });

        requestAnimationFrame(updateCursor);

        document.addEventListener(
          "mouseleave",
          () => (cursor.style.opacity = "0"),
        );
        document.addEventListener(
          "mouseenter",
          () => (cursor.style.opacity = "1"),
        );
      }
    </script>
  </body>
</html>
